<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form method="post" id="form" class="form" action="/users">
        <h3>Sign Up Form</h3>
        <label for="name">Name</label>
        <input id="name" type="name" name="name" />
        <label for="email">Email</label>
        <input id="email" type="email" name="email" />
        <label for="password">Password</label>
        <input id="password" type="password" name="password" />
        <label for="age">Age</label>
        <input id="age" type="age" name="age" />
        <button type="submit" value="Sign Up" >Sign Up</button>
      </form>
    </div>
  </body>
</html>
